:root {
  /* Colors */
  --primary: #E40F0F;
  --secondary: #FFFFFF;
  --text-primary: #000000;
  --footer: #1D1D1D;
  --subtitle: #EEEEEE;

  /* Message */
  --title-message: #1D1D1D;
  --text-message: #747474;
  --background-message: #DF8686;

  /* Input */
  --border-color: #D5D5D5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  background-color: var(--secondary);
}

a {
  color: inherit;
  text-decoration: none;
}

.container_input_select {
  min-width: 265px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}

.container_input_select label {
  margin-bottom: 8px;

  color: var(--title-message);
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
}

.container_input_select input,
.container_input_select select {
  width: 100%;
  height: 45px;
  display: flex;
  padding: 0 14px;

  color: var(--text-message);
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
}

.container_select {
  margin: 8px 0 -8px;
}

.container_select .container_input_select {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container_select .container_input_select label {
  margin: 0 38px 0 0;
  white-space: nowrap;
}
